﻿@model asm2.Models.Branch

@{
	ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
	<h4>Branch</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Ma chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BranchId)
		</dd>
		<dt class="col-sm-2">
			Ten chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			Dia chi
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
			Thanh pho dat chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.City)
		</dd>
		<dt class="col-sm-2">
			Trang thai
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.State)
		</dd>
		<dt class="col-sm-2">
			Ma buu chinh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ZipCode)
		</dd>
	</dl>
</div>