﻿@model IEnumerable<asm2.Models.Branch>

@{
    ViewBag.Title = "Branches Page";
}

<h2>Branches</h2>

<p>
    @Html.ActionLink("Add New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            Ma chi nhanh
        </th>
        <th>
            Ten chi nhanh
        </th>
        <th>
            Dia chi
        </th>
        <th>
            Trang thai
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BranchId }) |
                @Html.ActionLink("Details", "Details", new { id=item.BranchId }) |
                @Html.ActionLink("Remove", "Remove", new { id=item.BranchId })
            </td>
        </tr>
    }

</table>