﻿@model asm2.Models.Branch

@{
	ViewData["Title"] = "Remove";
}

<h1>Remove</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>Branch</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			Ma chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BranchId)
		</dd>
		<dt class="col-sm-2">
			Ten chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			Dia chi
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
			Thanh pho dat chi nhanh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.City)
		</dd>
		<dt class="col-sm-2">
			Trang thai
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.State)
		</dd>
		<dt class="col-sm-2">
			Ma buu chinh
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ZipCode)
		</dd>
	</dl>

	<form asp-action="Remove">
        <input type="hidden" asp-for="BranchId" />
		<input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>